
/* * {font-family: 'Spoqa Han Sans', 'Spoqa Han Sans JP', 'Sans-serif' !important; color: rgb(0, 0, 0);
    word-break: keep-all !important;} */


    * { font-family: 'Spoqa Han Sans Neo', 'sans-serif'; }
    html{ font-size: 100%; overflow-y: scroll; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    
    
    ::selection {
        background-color: rgb(255, 255, 255);
        color:rgb(0, 107, 207);
    }
    
    body {
        background-color:#000000;
        margin:0;
        animation: fadein 3000ms ease-in;
        -moz-animation: fadein 1500ms ease-in; /* Firefox */
        -webkit-animation: fadein 1000ms ease-in; /* Safari and  Chrome */
        -o-animation: fadein 300ms ease-in; /* Opera */
    }
    
    @keyframes fadein {
        from {opacity:0;}
        to {opacity:1;}
    }
    @-moz-keyframes fadein { /* Firefox */
        from {opacity:.13;}
        to {opacity:.22;}
    }
    @-webkit-keyframes fadein { /* Safari and Chrome */
        from {opacity:0;}
        to {opacity:.66;}
    }
    @-o-keyframes fadein { /* Opera */
        from {opacity:.13;}
        to {opacity: .22;}
    }

    #test::-webkit-scrollbar-thumb {
        background-color: rgb(255, 123, 0); /*스크롤바의 색상*/
    }
    
    
    
    :root {
        --text-color: rgb(0,0,0);
        --background-color: rgb(0,0,0);
        --accent-color: rgb(103, 47, 255);
    }
        
    
     video::-webkit-media-controls-panel {
        display: none;
        -webkit-appearance: none;}
      video::-webkit-media-controls-play-button {
        display: none;
        -webkit-appearance: none;}
      video::-webkit-media-controls-start-playback-button {
        display: none;
        -webkit-appearance: none}
      video::-webkit-media-controls {
        display: none;
        -webkit-appearance: none;}
      
        
        .info{
            position:sticky;
            z-index: 3;
            color: #ffffff;
        }
    
        .call{
            margin-top: -.27vh;
        }
    
        a {
            text-decoration:none;
            color: rgb(255, 255, 255);
            font-weight: 400;
        }
    
        a:hover{
            color: rgb(50, 70, 255);
        }
    
        .navbar{
            margin-top: 90px;
            margin-bottom: 8px;
            display: flex;
            color: var(--text-color);
        }
      
        .navbar__name{
            margin-left: 16px;
            font-size: 16px;
            font-weight:bolder;
            color: #ffffff;
            background-color: transparent;
            border-color: transparent;
            padding: 0px;
            margin: 13px;
        }
        .navbar__name:hover{
            color: rgb(50, 70, 255);
            background-color:transparent;
            cursor:pointer;
        }
        
        .navbar__work{
            color: rgb(255,255,255);
        
        }
      
        .navbar__work:hover{
            text-decoration: underline white;
            text-underline-position: under;
            cursor:pointer;
        }
      
        
     
        .container{
            background-color:transparent;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            justify-content:stretch;
            grid-template-columns: 1fr;
            margin-top: -11px;
            position: absolute;
            z-index: -10;
            width: 100%;
         }

        .item{
            width: 1360px;
            height: auto;
            background-color:black;
            /* border: 1px solid rgb(16, 139, 0); */
            border-radius: 1.3px;
            margin-bottom: -14px;
            color: var(--text-color);
            padding: 15px;
            justify-self:flex-start;
            align-items:inherit;
         }

        .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }
    
            
        @media screen and (max-width: 1366px) {html, body {max-width: 100%; overflow-x: hidden;}
        .container{
            background-color:transparent;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            justify-content:stretch;
            grid-template-columns: 1fr;
            margin-top: -11px;
            position: absolute;
            z-index: -10;
            width: 100%;
         }

        .item{
            width: 97.5%;
            height: auto;
            background-color:black;
            /* border: 1px solid rgb(16, 139, 0); */
            border-radius: 1.3px;
            color: var(--text-color);
            margin-bottom: -14px;
            padding: 15px;
            justify-self:flex-start;
            align-items:inherit;
         }
         .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }
    

  
        @media screen and (max-width: 1080px) {html, body {max-width: 100%; overflow-x: hidden;}
        .container{
            background-color:transparent;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            justify-content:stretch;
            grid-template-columns: 1fr;
            margin-top: -11px;
            position: absolute;
            z-index: -10;
            width: 100%;
        }
        .item{
            width: 96%;
            height: auto;
            background-color:black;
            /* border: 1px solid rgb(16, 139, 0); */
            border-radius: 1.3px;
            color: var(--text-color);
            padding: 15px;
            margin-bottom: -14px;
            justify-self:flex-start;
            align-items:inherit;
         }
    
         .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }
    
      

      
        @media screen and (max-width: 768px) {html, body {max-width: 100%; overflow-x: hidden;}
        .container{
            background-color:transparent;
            display: grid;
            flex-direction: column;
            align-items: flex-start;
            justify-content:stretch;
            grid-template-columns: 1fr;
            margin-top: -11px;
            position: absolute;
            z-index: -10;
            width: 100%;
         }

        .item{
            width: 96%;
            height: auto;
            background-color:black;
            /* border: 1px solid rgb(16, 139, 0); */
            border-radius: 1.3px;
            color: var(--text-color);
            padding: 15px;
            margin-bottom: -14px;
            justify-self:flex-start;
            align-items:inherit;
         }

     
    
        .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }
    
   

    
        @media screen and (min-width: 500px) {html, body {min-width: 100%; overflow-x: hidden;}
        .container{
           background-color:transparent;
           display: grid;
           flex-direction: column;
           align-items: flex-start;
           justify-content:stretch;
           grid-template-columns: 1fr;
           margin-top: -11px;
           position: absolute;
           z-index: -10;
           width: 100%;
        }

       .item{
           width: 96%;
           height: auto;
           background-color:black;
           /* border: 1px solid rgb(16, 139, 0); */
           border-radius: 1.3px;
           color: var(--text-color);
           padding: 15px;
           margin-bottom: -14px;
           justify-self:flex-start;
           align-items:inherit;
       }

        .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }




        @media screen and (max-width: 500px) {html, body {max-width: 100%; overflow-x: hidden;}
        .container{
           background-color:transparent;
           display: grid;
           flex-direction: column;
           align-items: flex-start;
           justify-content:stretch;
           grid-template-columns: 1fr;
           margin-top: -11px;
           position: absolute;
           margin-bottom: -14px;
           z-index: -10;
           width: 100%;
        }

       .item{
           width: 94%;
           height: auto;
           background-color:black;
           /* border: 1px solid rgb(16, 139, 0); */
           border-radius: 1.3px;
           color: var(--text-color);
           padding: 15px;
           justify-self:flex-start;
           align-items:inherit;
        }
        .item16{
            background-color: #ffffff;
        }
        .item17{
            background-color: #ffffff;
        }
    